*{
    margin: 0;
    padding: 0;
}

/*Layout 1*/
section{
    width: 80%;
}

#l1-img{
    width: 50%;
    margin: 5vw 3vw 5vw 3vw;
    align-self: center;
    display: block;
    margin: auto;
}

#l1-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 3em;
    column-gap: 3em;
}

#l1-container div{
    background-color: aqua;
    text-align: center;
}

#l1-container div,article{
    margin-bottom: 2em;
    padding: 0 3em;
}

.l1-button{
    height: 3em;
    width: 4em;

}

/*Layout 2*/

#l2-container{
    display: grid;
    grid-template-columns: 70% 30%;
}

#l2-main{
    width: 100%;
}

#l2-iframe{
    width: 70%;
    display: block;
    margin: auto;
}

#l2-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 3em 0;
    text-align: center;
    margin: auto;
}

.l2-header{
    background-color: cadetblue;
    padding: 3em 0;
    margin: 0 1em;
}

#l2-article{
    width: 78%;
    margin: auto;
    margin-bottom: 3em;
}

#l2-footer{
    text-align: center;
    background-color: cadetblue;
    padding: 1em 0;
    width: 78%;
    margin: auto
}

#l2-aside{
    width: 100%;
}

#l2-header2{
    background-color: cadetblue;
    text-align: center;
    padding: 15em 0;
    margin: 2em 0;
}



#l2-row{
    text-align: center;
    background-color: cadetblue;
    margin-bottom: 2em;
}

#l2-box{
    padding: 1em;
    background-color: cadetblue;
    width: 15%;
    text-align: center;
}

#l2-article2{
    display: inline-block;
    width: 70%;
}

#l2-button{
    background-color: cadetblue;
    padding: 0 1em;
    width: 20%;
    text-align: center;
}

/*Layout 3*/

#l3-main{
    display: grid;
    grid-template-columns: 50% 20% 30%;
}

#l3-row{
    width: 90%;
    text-align: center;
}

.l3-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5em);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin: 2em;
}

.l3-headings{
    text-align: center;
    background-color: cadetblue;
}

.l3-boxes{
    text-align: center;
    background-color: cadetblue;
}
#l3-bigbox{
    margin: 2em 2em 2em 0;
    border: solid black 0.01em;
    text-align: center;
}

#l3-aside-box{
    width: 90%;
    height: 20em;
    text-align: center;
    background-color: cadetblue;
    margin: 2em 0;
}

#l3-aside-row{
    width: 90%;
    text-align: center;
    background-color: cadetblue;
    margin-bottom: 2em;
}
.l3-aside-container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.l3-aside-boxes{
    display: block;
    text-align: center;
    width: 6em;
    height: 6em;
    background-color: cadetblue;
}

.l3-aside-article{
    display: inline-block;
    width: auto;
}

/*Layout4*/



/*Layout 5*/

#l5-body{
    width: 100%;
    display: grid;
    grid-template-columns: 68% 29%;
    grid-column-gap: 3%;
}

#l5-main{
    width: 100%;
}

#l5-nav{
    display: flex;
    flex-direction: row;
}

.l5-navs{
    width: 10em;
    background-color: cadetblue;
    text-align: center;
}

.l5-big-image{
    width: 100%;
    height: 7em;
    background-color: aqua;
}

#l5-main-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.l5-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.l5-small-image{
    width: 9em;
    height: 7em;
    background-color: aquamarine;
}

.l5-small-paragraph{
    max-width: 9em;
    min-height: 7em;
    text-align: center;
}

#l5-aside{
    width: 100%;
}

#l5-aside-nav{
    display: flex;
    justify-content: flex-end;
}

.l5-aside-navs{
    width: 2em;
    background-color: blueviolet;
    width: 3em;
}

.l5-aside-container{
    display: flex;
    
}

.l5-aside-boxes{
    background-color: cornflowerblue;
    padding: 3em;
}